<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="webSvc_DateByNameSoap" />
        <binding name="webSvc_NameByDateSoap" />
        <binding name="webSvc_PostcodeFinderSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:49772/webSvc_DateByName.asmx"
        binding="basicHttpBinding" bindingConfiguration="webSvc_DateByNameSoap"
        contract="serviceRef_DateByName.webSvc_DateByNameSoap" name="webSvc_DateByNameSoap" />
      <endpoint address="http://localhost:49772/webSvc_NameByDate.asmx"
        binding="basicHttpBinding" bindingConfiguration="webSvc_NameByDateSoap"
        contract="serviceRef_NameByDate.webSvc_NameByDateSoap" name="webSvc_NameByDateSoap" />
      <endpoint address="http://localhost:49772/webSvc_PostcodeFinder.asmx"
        binding="basicHttpBinding" bindingConfiguration="webSvc_PostcodeFinderSoap"
        contract="serviceRef_PostcodeFinder.webSvc_PostcodeFinderSoap"
        name="webSvc_PostcodeFinderSoap" />
    </client>
  </system.serviceModel>
</configuration>